
body {
    background-color: #000;  
    color: #00FF00;  
    font-family: 'VT323', monospace; 
    margin: 0;
    overflow: hidden; 
    font-size: 300%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.terminal {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #111;
    border-radius: 5px;
}

.header {
    font-size: 32px; 
    margin-bottom: 15px;
    text-align:left;
    margin-left: 90px;
    margin-top: 100px;
}

.content p {
    margin-bottom: 20px;
}

.button {
    background-color: #00FF00;
    color: #000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-family: inherit; 
}

.vt323-regular {
   font-family: "VT323", monospace;
   font-weight: 400;
   font-style: normal;
} 


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

nav ul li {
    margin-right: 10px; /
}
nav a {
    color: blue;
}
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.blink {
    animation: blink 1s linear infinite;
}
footer {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.account-section {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
}

.account-button {
    border: 15px;
    cursor: pointer;
    border-radius: 50%;
    padding: 25px;
    margin-right: 50px;
    margin-top: 50px;
}

.account-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #00FF00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(49, 44, 193, 0.803);
    z-index: 1;
}

.account-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.account-dropdown a:hover {
    background-color: #f1f1f1;
}

.signup-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}
.footer-link {
    color: #00FF00;
    text-decoration: none;
}