<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('price') }}">Price</a></li>
            <a href="{{ url_for('posts') }}">Comunity</a>
            <li><a href="{{ url_for('demo') }}">Demo</a></li>
        </ul>
    </nav>
    {% include 'account_button.html' %}
</head>    
<body>
    <button id="toggle-chat" class="circle-button">Press</button>
    <div class="input-container" style="display: none;">
        <textarea id="user-input" placeholder="Type here..."></textarea>
        <button id="send-button">></button>
    </div>
    <div class="chat-container" style="display: none;">
        <div class="chat-box" id="chat-box">
            <!-- Chat messages will be added here dynamically -->
        </div>
    </div>
    <footer>
        <a href="{{ url_for('home') }}" class="footer-link">© 2024 Cipher</a>   
    </footer>         
<script src="{{ url_for('static', filename='script.js') }}"></script>    
</body>
</html>