<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('price') }}">Price</a></li>
            <a href="{{ url_for('posts') }}" class=>Comunity</a>
            <li><a href="{{ url_for('demo') }}">Demo</a></li>
        </ul>
    </nav>
    {% include 'account_button.html' %}
</head>
<body>
    <div class="posts-page, terminal">
        <h1>Posts</h1>

        <!-- Form for creating a new post -->
        <form id="create-post-form">
            <textarea name="content" placeholder="Write a new post..."></textarea>
            <button type="submit">Post</button>
        </form>

        {% if posts %}
            <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post.content }}</h3>
                    <!-- Form for updating a post -->
                    <form class="update-post-form" data-post-id="{{ post.id }}">
                        <textarea name="content">{{ post.content }}</textarea>
                        <button type="submit">Update</button>
                    </form>
                    <!-- Form for creating a comment -->
                    <form class="create-comment-form" data-post-id="{{ post.id }}">
                        <textarea name="content" placeholder="Write a comment..."></textarea>
                        <button type="submit">Comment</button>
                    </form>
                    <!-- Display comments -->
                    <ul>
                    {% for comment in post.comments %}
                        <li>{{ comment.content }} - {{ comment.author.username }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <footer>
        <a href="{{ url_for('home') }}" class="footer-link">© 2024 Cipher</a>
     </footer>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>